
h2 {
    font-family: 'Permanent Marker', cursive;
    color: blue;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    color: yellow;
    text-align: right;
}
#jquery {
    cursor: url('../images/suit1.png'), default;
}
body{
    background-color:cornflowerblue;
}

h1{
    border: 15px dotted blue;
    padding: 10px;
    padding-left: 70px;
    margin: 0;
    margin-right: 500px;
    margin-left: 500px;
    text-align: center;
}
div{
    border-style: ridge;
    border-width: 5px;
    border-color: mediumblue;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    }
a{
  margin-top: 20px;
  margin-left: 20px;
  background-color: yellow;
}

nav{
    font-style: normal;
    background-color: silver;
    text-align: center;
}